@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html body {
  -webkit-font-smoothing: antialiased;
  color: #243238;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300; }

html .group-md {
  -webkit-transform: translateY(-21px);
  transform: translateY(-21px);
  margin-bottom: -21px;
  margin-left: -21px; }

html .group-md > *, html .group-md > *:first-child {
  display: inline-block;
  margin-top: 21px;
  margin-left: 21px; }

html .group-md > *, html .group-md > *:first-child {
  display: inline-block;
  margin-top: 21px;
  margin-left: 21px; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

p {
  margin: 0; }

a {
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  transition: .33s all ease-out; }

a:active, a:hover {
  outline: 0; }

* {
  box-sizing: border-box; }

hr {
  box-sizing: content-box;
  height: 0; }

hr {
  margin: 0 auto;
  border: 0;
  border-top: 1px solid #616873; }

* + hr {
  margin-top: 18px; }

hr + * {
  margin-top: 18px; }

@media (min-width: 1200px) {
  hr + * {
    margin-top: 30px; } }
body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  color: #666;
  background-color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased; }

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #666; }

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -3px;
  margin-right: -3px; }

.list-inline {
  margin-left: -3px;
  margin-right: -3px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }
  .list-inline > li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px; }

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px; }

.list-inline-sm > li {
  padding-left: 10px;
  padding-right: 10px; }

.list-inline-md {
  margin-left: -15px;
  margin-right: -15px; }

.list-inline-md > li {
  padding-left: 15px;
  padding-right: 15px; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 24px;
  border: 1px solid transparent; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  .navbar-info {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar-wrap {
    height: 208px; }
  .navbar-static {
    display: block;
    background: #fff;
    box-shadow: none;
    transition: 0.33s all ease-out; }
  .navbar-inner {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 0; }
  .navbar-panel {
    position: absolute;
    top: 84px;
    min-width: 270px; }
    .navbar-panel a {
      text-decoration: none; }
    .navbar-panel a:hover {
      color: #229dd1;
      text-decoration: none; }
  .navbar-brand {
    display: inline-block;
    transition: none;
    white-space: nowrap;
    position: relative;
    top: 2; }
    .navbar-brand span:first-child {
      margin: 0 5px 0 0; }
    .navbar-brand span:last-child {
      margin: 0 0 0 5px; }
    .navbar-brand > * {
      display: inline-block;
      font-size: 36px;
      line-height: 1; }
  .navbar-aside-content {
    display: flex;
    flex-direction: column;
    z-index: 5; }
    .navbar-aside-content ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0; }
  .navbar-nav {
    margin: 6.5px -15px;
    position: relative;
    transition: .33s all ease-out; }
    .navbar-nav span i {
      transition: .33s all ease-out; }
    .navbar-nav > li:hover * {
      color: #44bef1;
      fill: #44bef1; }
    .navbar-nav > li.focus span i {
      transform: rotate(180deg) translateY(1px); }
    .navbar-nav > li {
      display: inline-block;
      padding: 2px;
      cursor: pointer; }
      .navbar-nav > li.active > a {
        color: #24a3d8; }
      .navbar-nav > li > a {
        color: #fff;
        position: relative;
        display: inline;
        font-size: 15px;
        font-weight: 900;
        line-height: 1.2;
        background: transparent;
        z-index: 20;
        text-decoration: none;
        transition: .33s all ease-out; }
        .navbar-nav > li > a::after {
          content: "";
          margin-right: 2px; }
      .navbar-nav > li i {
        color: #24a3d8;
        will-change: transform;
        -webkit-filter: blur(0);
        font-size: 12px; }
    .navbar-nav > li + li {
      margin-left: 42px; }
  .navbar-sticky {
    top: 0;
    width: 100%;
    z-index: 1000; }
  .navbar-sticky.fixed {
    position: fixed;
    border-bottom: 1px solid #252a34; }
  .navbar ul, .navbar ol {
    list-style: none;
    padding: 0;
    margin: 0; }
  .navbar-nav-wrap {
    width: 100%;
    height: auto;
    min-height: 62px;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 10;
    transition: 0.33s all cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .navbar-nav-wrap::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 200vw;
      bottom: 0;
      z-index: -1;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background: inherit;
      pointer-events: none; }
    .navbar-nav-wrap-inner {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      text-align: left; }
  .navbar-nav-dark {
    background: #323946; }
  .navbar-search {
    position: relative;
    transition: .33s all ease; }
    .navbar-search input {
      border-radius: 5px;
      color: #9d9fa2;
      background: #fff;
      transition: .33s all ease; }
    .navbar-search .rd-search {
      position: relative;
      border: none;
      border-radius: 5px;
      transition: .33s all ease; }
      .navbar-search .rd-search label {
        font-size: 15px; }
      .navbar-search .rd-search input {
        width: 100%;
        padding: 9px 48px 9px 17px;
        font-size: 15px;
        font-weight: 300;
        outline: none; }
      .navbar-search .rd-search .form-group .form-control {
        height: auto;
        line-height: 1.2; }
      .navbar-search .rd-search-submit {
        top: 50%;
        background-color: transparent;
        border: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 4px; }
        .navbar-search .rd-search-submit i {
          color: #fff;
          transition: .33s all ease; }
          .navbar-search .rd-search-submit i::before {
            font-size: 1.05em; }
          .navbar-search .rd-search-submit i:hover {
            color: #229dd1; }
      .navbar-search .rd-search-toggle {
        position: absolute;
        right: 12px;
        top: 50%;
        background-color: transparent;
        border: none;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 5px; }
        .navbar-search .rd-search-toggle:hover i {
          color: #229dd1; }
        .navbar-search .rd-search-toggle i {
          color: #fff;
          transition: .33s all ease; }
          .navbar-search .rd-search-toggle i::before {
            font-size: 1.5em; }
          .navbar-search .rd-search-toggle i:hover {
            color: #229dd1; }
    .navbar-search .rd-search.active {
      opacity: 1;
      width: 330px; }
    .navbar-search .rd-input-label {
      display: inherit; }
    .navbar-search .rd-input-label.focus {
      display: none; }
    .navbar-search input {
      background: #3c434f;
      border: 1px solid #3c434f; }

@media (min-width: 1200px) {
  .navbar-static .navbar-search {
    width: 330px; }

  .rd-search {
    margin-left: auto;
    overflow: hidden;
    opacity: 0;
    width: 0; }

  .rd-search label {
    transition: none; } }
.navbar-static .block-wrap-list {
  display: flex;
  order: 1;
  text-align: right;
  -webkit-order: 1;
  -ms-flex-order: 1;
  padding: 27px 16px 22px 12px; }
  .navbar-static .block-wrap-list > li + li {
    margin-left: 68px; }

.navbar-brand .brand-name, .navbar-brand .brand-name:focus, .navbar-brand .brand-name:active, .navbar-brand .brand-name:hover {
  color: #000; }

.navbar-static.navbar.default .block-wrap-list {
  padding: 27px 16px 22px 12px; }

.navbar-static .block-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 17px 13px 0; }

.footer-nav-wrap {
  white-space: nowrap; }

.footer-nav-wrap:before, .footer-nav-wrap:after {
  content: " ";
  display: table; }

.footer-nav-wrap:after {
  clear: both; }

.footer-nav-column {
  display: inline-block;
  padding-right: 6px;
  float: left;
  white-space: normal; }

.footer-nav-column:first-child {
  width: 56%; }

.footer-nav-column:last-child {
  width: 44%; }

.footer-nav {
  display: inline-block;
  text-align: left; }

.footer-nav a, .footer-nav a:active, .footer-nav a:focus {
  color: #888c94 !important;
  text-decoration: none; }

.footer-nav li.active a, .footer-nav a:hover {
  color: #51ccff !important; }

.footer-nav li.active {
  pointer-events: none; }

.footer-nav li + li {
  margin-top: 6px; }

.footer-nav-inline {
  position: relative;
  margin-left: -36px;
  margin-bottom: 12px;
  white-space: normal; }

.footer-nav-inline li {
  display: inline-block; }

.footer-nav-inline li a, .footer-nav-inline li a:active, .footer-nav-inline li a:focus {
  color: #888c94; }

.footer-nav-inline li a:hover {
  color: #49add8; }

.footer-nav-inline li {
  margin-top: 12px;
  margin-left: 36px; }

@media (min-width: 480px) {
  .footer-nav-wrap {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

  .footer-nav-column {
    text-align: center; } }
@media (min-width: 768px) {
  .footer-nav li + li {
    margin-top: 12px; }

  .footer-nav-wrap {
    width: 100%; }

  .footer-nav-column {
    text-align: left; } }
.page {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .page-head {
    background-color: #fff; }
  .page .text-gray-base {
    color: #000; }
  .page .text-gray-light {
    color: #999; }
  .page a.icon-auto-filled {
    background: #dfdfdf; }
  .page .icon-auto-filled {
    background: #dfdfdf; }
  .page a.icon-dark {
    color: #474747; }
  .page .icon-dark {
    color: #474747; }
  .page .icon-picton-blue {
    color: #44bef1; }
    .page .icon-picton-blue i {
      color: #44bef1; }
  .page a.icon-dark:hover {
    background: #fff;
    color: #0d648a; }
    .page a.icon-dark:hover i {
      color: #0d648a; }
  .page a.icon-white-filled {
    background: #fff; }
  .page .icon-white-filled {
    background: #fff; }
  .page a.icon-white-filled:hover {
    color: #fff;
    background: #51ccff; }
    .page a.icon-white-filled:hover i {
      color: #fff; }
  .page .icon-white-filled:hover {
    color: #fff;
    background: #51ccff; }
    .page .icon-white-filled:hover i {
      color: #fff; }
  .page a.icon-sm {
    width: 22px;
    height: 22px;
    font-size: 22px;
    line-height: 22px; }
  .page .icon-sm {
    width: 22px;
    height: 22px;
    font-size: 22px;
    line-height: 22px; }
  .page .offset-top-25 {
    margin-top: 25px; }
  .page-foot {
    background-color: #fff; }
  .page .rd-mailform-inline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 6px auto 0; }
  .page .rd-mailform-inline *, .page .page .rd-mailform-inline label, .page .page .rd-mailform-inline .btn {
    margin: 0; }
  .page .rd-mailform-inline label {
    top: 24px;
    left: 17px; }
  .page .rd-mailform-inline input {
    padding: 10px 17px; }
  .page .rd-mailform-inline .form-control {
    height: 47px; }
  .page .rd-mailform-inline .btn {
    font-weight: 400; }
  .page .rd-mailform-inline > *:first-child {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .page .rd-mailform-inline > *:first-child, .page .page .rd-mailform-inline > *:first-child * {
    border-radius: 5px 0 0 5px; }
  .page .rd-mailform-inline > *:last-child {
    border-radius: 0 5px 5px 0; }

.page .btn-gray-darker-outline, .page .btn-gray-darker-outline:focus, .page .btn-gray-darker-outline.focus, .page .btn-gray-darker-outline:active, .page .btn-gray-darker-outline.active, .open > .page .btn-gray-darker-outline.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: #aeaeae; }

.icon {
  display: inline-block;
  text-align: center; }

.icon:before {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-xxs {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px; }

.icon-circle {
  border-radius: 50%; }

.icon-xxs.icon-circle {
  width: 27px;
  height: 27px;
  line-height: 27px;
  background: #dfdfdf;
  cursor: pointer;
  transition-duration: 0.3s; }
  .icon-xxs.icon-circle:hover {
    background: #ffffff; }

.fa-facebook::before {
  content: "\f09a"; }

.fa-twitter::before {
  content: "\f099"; }

.fa-google-plus::before {
  content: "\f0d4"; }

i.fab {
  line-height: 18px;
  color: #474747;
  cursor: pointer; }

.rd-search-submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #3c434f;
  text-align: center;
  font-size: 22px;
  position: absolute;
  right: 0;
  transition: color .33s; }

form {
  display: block;
  margin-top: 0;
  padding: 0; }

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #666; }

.form-label {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: 15;
  color: #999;
  pointer-events: none;
  z-index: 125;
  transition: .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.rd-input-label-0 {
  opacity: 0; }

.rd-input-label-1 {
  opacity: 1; }

.rd-mailform {
  position: relative; }

.rd-mailform label {
  line-height: 24px; }

.rd-mailform label + * {
  margin-top: 5px; }

.rd-mailform.form-white input, .rd-mailform.form-white textarea {
  background: #fff; }

.brand .brand-name, .brand .brand-name:active, .brand .brand-name:focus, .brand .brand-name:hover {
  color: #fff; }

.brand > * {
  display: inline-block;
  font-size: 36px;
  line-height: 1; }

.brand-name span {
  letter-spacing: -.025em; }
.brand-name span:first-child {
  position: relative;
  z-index: 1; }
.brand-name span:last-child {
  margin: 0 0 0 5px;
  margin-left: -0.55em; }

.text-primary {
  color: #0d648a; }
.text-thin {
  font-weight: 100; }
.text-ubold {
  font-weight: 900; }
.text-river-bed {
  color: #323946; }
.text-bold {
  font-weight: 700; }

.small {
  font-size: 14px;
  line-height: 21px; }

.float-left {
  float: left;
  text-align: left; }
  .float-left a {
    float: left;
    text-align: left; }
.float-right {
  float: right;
  text-align: right; }
  .float-right a {
    float: right;
    text-align: right; }

.unit {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 0; }
  .unit-align-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .unit-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .unit-left {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%; }
  .unit-body {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: 14px; }
  .unit-horizontal {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .unit-horizontal .unit-body {
      padding-left: 20px; }

@media screen and (min-width: 768px) {
  .unit-sm-horizontal {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  .unit-spacing-sm.unit-sm-horizontal > .unit-left + .unit-right, .unit-spacing-sm.unit-sm-horizontal > .unit-left + .unit-body {
    padding-top: 0;
    padding-left: 14px; }

  .unit-spacing-sm.unit > .unit-left + .unit-right, .unit-spacing-sm.unit > .unit-left + .unit-body, .unit-spacing-sm.unit-vertical > .unit-left + .unit-right, .unit-spacing-sm.unit-vertical > .unit-left + .unit-body {
    padding-left: 0;
    padding-top: 14px; } }
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

figure {
  margin: 0; }
  figure img {
    width: 100%;
    height: auto;
    max-width: none; }

address {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  line-height: 1.6; }
  address a {
    text-decoration: none;
    cursor: pointer;
    color: #243238; }
  address span a {
    text-decoration: none;
    cursor: pointer;
    color: #243238; }

.contact-info {
  display: flex;
  flex-direction: column;
  vertical-align: baseline; }
  .contact-info a {
    display: flex;
    flex-direction: column; }

* + .contact-info {
  margin-top: 31px; }

.contact-info-list li + li {
  margin-top: 14px; }

.bg-gray-base, .bg-gray-darker, .bg-primary, .bg-curious-blue, .bg-river-bed, .bg-ebony-clay, .bg-charade,
.bg-image, .bg-gray-base h1, .bg-gray-darker h1, .bg-primary h1, .bg-curious-blue h1, .bg-river-bed h1,
.bg-ebony-clay h1, .bg-charade h1, .bg-image h1, .bg-gray-base h2, .bg-gray-darker h2, .bg-primary h2,
.bg-curious-blue h2, .bg-river-bed h2, .bg-ebony-clay h2, .bg-charade h2, .bg-image h2, .bg-gray-base h3,
.bg-gray-darker h3, .bg-primary h3, .bg-curious-blue h3, .bg-river-bed h3, .bg-ebony-clay h3, .bg-charade h3,
.bg-image h3, .bg-gray-base h4, .bg-gray-darker h4, .bg-primary h4, .bg-curious-blue h4, .bg-river-bed h4,
.bg-ebony-clay h4, .bg-charade h4, .bg-image h4, .bg-gray-base h5, .bg-gray-darker h5, .bg-primary h5,
.bg-curious-blue h5, .bg-river-bed h5, .bg-ebony-clay h5, .bg-charade h5, .bg-image h5, .bg-gray-base h6,
.bg-gray-darker h6, .bg-primary h6, .bg-curious-blue h6, .bg-river-bed h6, .bg-ebony-clay h6,
.bg-charade h6, .bg-image h6, .bg-gray-base .h1, .bg-gray-darker .h1, .bg-primary .h1, .bg-curious-blue .h1,
.bg-river-bed .h1, .bg-ebony-clay .h1, .bg-charade .h1, .bg-image .h1, .bg-gray-base .h2, .bg-gray-darker .h2,
.bg-primary .h2, .bg-curious-blue .h2, .bg-river-bed .h2, .bg-ebony-clay .h2, .bg-charade .h2, .bg-image .h2,
.bg-gray-base .h3, .bg-gray-darker .h3, .bg-primary .h3, .bg-curious-blue .h3, .bg-river-bed .h3, .bg-ebony-clay .h3,
.bg-charade .h3, .bg-image .h3, .bg-gray-base .h4, .bg-gray-darker .h4, .bg-primary .h4, .bg-curious-blue .h4,
.bg-river-bed .h4, .bg-ebony-clay .h4, .bg-charade .h4, .bg-image .h4, .bg-gray-base .h5, .bg-gray-darker .h5,
.bg-primary .h5, .bg-curious-blue .h5, .bg-river-bed .h5, .bg-ebony-clay .h5, .bg-charade .h5, .bg-image .h5,
.bg-gray-base .h6, .bg-gray-darker .h6, .bg-primary .h6, .bg-curious-blue .h6, .bg-river-bed .h6,
.bg-ebony-clay .h6, .bg-charade .h6, .bg-image .h6 {
  color: #fff; }

.bg-gray-base a, .bg-gray-darker a, .bg-primary a, .bg-curious-blue a, .bg-river-bed a, .bg-ebony-clay a, .bg-charade a, .bg-image a, .bg-gray-base a:active, .bg-gray-darker a:active, .bg-primary a:active, .bg-curious-blue a:active, .bg-river-bed a:active, .bg-ebony-clay a:active, .bg-charade a:active, .bg-image a:active, .bg-gray-base a:focus, .bg-gray-darker a:focus, .bg-primary a:focus, .bg-curious-blue a:focus, .bg-river-bed a:focus, .bg-ebony-clay a:focus, .bg-charade a:focus, .bg-image a:focus {
  color: #fff; }

.bg-gray-base a:hover, .bg-gray-darker a:hover, .bg-primary a:hover, .bg-curious-blue a:hover, .bg-river-bed a:hover, .bg-ebony-clay a:hover, .bg-charade a:hover, .bg-image a:hover {
  color: #229dd1; }

.bg-athens-gray {
  background: #f2f2f5;
  fill: #f2f2f5; }
  .bg-athens-gray-inner {
    position: relative;
    z-index: 0; }
.bg-river-bed {
  background-color: #323946;
  fill: #323946; }
.bg-ebony-clay {
  background: #282e3a;
  fill: #282e3a; }
.bg-alabaster {
  background: #f9f9f9;
  fill: #f9f9f9; }
.bg-wrap {
  position: relative;
  z-index: 1; }
  .bg-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 200vw;
    bottom: 0;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: inherit;
    pointer-events: none; }

@media (min-width: 768px) {
  .bg-athens-gray-inner:before {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 200vw;
    z-index: -1;
    background: #f2f2f5; } }
.owl-item-396 {
  height: 396px; }

@media (min-width: 768px) {
  .owl-spacing-1 {
    padding: 0 25px; } }
@media (min-width: 1200px) {
  .owl-spacing-1 {
    padding: 0 55px; } }
.item-inset {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.quote-variant-1 {
  padding: 40px 5px 35px 5px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 6px 3px rgba(174, 174, 174, 0.05);
  box-shadow: 0 0 6px 3px rgba(174, 174, 174, 0.05);
  margin: 0 !important; }
  .quote-variant-1 .quote-header {
    white-space: nowrap; }
    .quote-variant-1 .quote-header img {
      margin: 0 20px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      width: 72px;
      height: 72px; }
    .quote-variant-1 .quote-header::after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 30px;
      margin-left: -0.25em;
      border-bottom: 1px solid #ebebeb; }
    .quote-variant-1 .quote-header::before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 30px;
      margin-left: -0.25em;
      border-bottom: 1px solid #ebebeb; }
  .quote-variant-1 .quote-body {
    padding: 6%;
    margin-top: 22px;
    line-height: 1.4; }
    .quote-variant-1 .quote-body q {
      font-style: italic;
      font-size: 15px;
      color: #777; }
    .quote-variant-1 .quote-body q::before {
      content: ""; }
    .quote-variant-1 .quote-body q::after {
      content: ""; }
  .quote-variant-1 q {
    font-style: italic; }
  .quote-variant-1 .quote-meta {
    margin-top: 22px; }
  .quote-variant-1 cite {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-style: normal; }

@media (min-width: 480px) {
  .quote-variant-1 .quote-header::before,
  .quote-variant-1 .quote-header::after {
    width: 66px; } }
.blockquote {
  font: inherit;
  padding: 0;
  margin: 0 !important;
  border: 0; }

@media only screen and (min-width: 480px) {
  .quote-variant-1 .quote-body {
    padding: 0 10%; } }
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'arrows';
  transition: .33s all ease;
  color: #bab8b8; }
  .owl-prev svg, .owl-next svg {
    transition: .33s all ease; }

.brand-item {
  width: 165px;
  margin-right: 30px; }

.link-image {
  width: 100%;
  max-width: 173px;
  margin-left: auto;
  margin-right: auto; }
  .link-image img {
    transition: all 0.33s linear; }
  .link-image img:hover {
    opacity: 0.5; }

.link-image > * {
  width: 100%; }

.owl-prev:hover, .owl-next:hover {
  color: #24a3d8; }
  .owl-prev:hover svg, .owl-next:hover svg {
    fill: #24a3d8; }

.owl-prev {
  left: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .owl-prev {
    left: -10px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .owl-prev {
    left: -19px; } }
@media (min-width: 1200px) {
  .owl-prev {
    left: -20px; } }
.owl-next {
  right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .owl-next {
    right: -10px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .owl-next {
    right: -19px; } }
@media (min-width: 1200px) {
  .owl-next {
    right: -20px; } }
.owl-controls .owl-nav {
  display: none !important; }
@media (min-width: 768px) {
  .owl-controls .owl-nav {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
